body {
    /*font-size: small !important;*/
    background-color: #f5f5f5 !important;
    color: #616161 !important;
    /*font-weight: 300 !important;*/
}

table {
    background-color: white !important;
    /*margin: 15px !important;*/
    font-size: 14px !important;
}


/*tr{
    border: 0.25px solid lightgrey !important;
}*/

td, th {
    border: 0.25px solid lightgrey !important;
    /*border-right: 0.25px solid lightgrey !important;*/
}

tr:first-child{
    font-weight: bold;
}

.container {
    width: 88% !important;
}