body {
    background-color: #f5f5f5 !important;
    color: #616161 !important;
}

table {
    background-color: white !important;
    table-layout: fixed !important;
}

td, th {
    border: 0.25px solid lightgrey !important;
    font-size: 12px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

tr:first-child {
    font-weight: bold !important;
}

td:first-child {
    font-weight: bold !important;
}

.colorCol {
    background-color: aquamarine !important;
}

.container {
    width: 100% !important;
    margin-bottom: 15px !important;
}